
body.modal-open .heading {
    filter: brightness(0.3);
}

.heading {
    height: 100vh;
    background: url("./img/home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.modal-btn {
    margin-top: 3rem;
    padding: 13px;
    font-size: 17px;
    border-radius: 10px;
}

.modal-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.5); /* Changed to a more distinct blue */
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -1;
}

.open-modal {
    visibility: visible;
    z-index: 1;
}

.modal-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.close-btn {
    position: absolute;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.model {
    background-color: rgb(238, 183, 231);
    padding: 4rem 0;
    box-shadow: 10px 10px 10px 10px rgb(192, 162, 189);
    text-align: center;
    width: 15vw;
}
